# Service for Indexer to find Analytics via gRPC
apiVersion: v1
kind: Service
metadata:
  name: analytics
spec:
  ports:
    - port: 50051
      targetPort: 50051
      name: grpc
  selector:
    component: analytics
