# --- API (The Gateway) ---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  labels:
    app: influscope
    component: api
spec:
  replicas: 2
  selector:
    matchLabels:
      component: api
  template:
    metadata:
      labels:
        component: api
    spec:
      containers:
        - name: api
          image: ghcr.io/anis-hammoudi/influscope/api:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: influscope-config
          readinessProbe:
            httpGet:
              path: /search?q=ping
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "500m"
