name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          cache: true

      - name: Test Scraper
        run: go test -v ./scraper/...

      - name: Test Indexer
        run: go test -v ./indexer/...

      - name: Test Analytics
        run: go test -v ./analytics/...

      - name: Test API
        run: go test -v ./api/...

  build-and-push:
    name: Build & Publish Images
    needs: test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Lowercase Repo Name
        run: |
          echo "REPO_LOWER=${GITHUB_REPOSITORY,,}" >> ${GITHUB_ENV}

      - name: Build and Push Scraper
        uses: docker/build-push-action@v5
        with:
          context: .
          file: scraper/Dockerfile
          push: true
          tags: ghcr.io/${{ env.REPO_LOWER }}/scraper:latest

      - name: Build and Push Indexer
        uses: docker/build-push-action@v5
        with:
          context: .
          file: indexer/Dockerfile
          push: true
          tags: ghcr.io/${{ env.REPO_LOWER }}/indexer:latest

      - name: Build and Push Analytics
        uses: docker/build-push-action@v5
        with:
          context: .
          file: analytics/Dockerfile
          push: true
          tags: ghcr.io/${{ env.REPO_LOWER }}/analytics:latest

      - name: Build and Push API
        uses: docker/build-push-action@v5
        with:
          context: .
          file: api/Dockerfile
          push: true
          tags: ghcr.io/${{ env.REPO_LOWER }}/api:latest